@* Based on: https://codepen.io/kaueburiti/pen/YNZGZO *@

@page "/"

<PageTitle>Home</PageTitle>

<PreviewForm @bind-Title="_title"
             @bind-SubTitle="_subTitle"
             @bind-FixedHeight="_fixedHeight"
             @bind-FixedMaxWidth="_fixedMaxWidth" />

<Wizard Title="@_title"
        SubTitle="@_subTitle"
        Height="@(_fixedHeight ? "315px" : null)"
        MaxWidth="@(_fixedMaxWidth ? "620px" : null)">
    <Steps>
        <WizardStep>
            <h2>Create a Github account</h2>
            <p>With github you can show your projects and find new things everyday!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </WizardStep>
        <WizardStep IconClass="fa fa-book">
            <h2>Learn more about pure Javascript.</h2>
            <p>We have cool frameworks, but none is better then VanillaJS</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Stay in touch with the community.</h2>
            <p>Community is everything, and here we do some crazy stuff.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Stay in touch with the community.</h2>
            <p>Community is everything, and here we do some crazy stuff.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Stay in touch with the community.</h2>
            <p>Community is everything, and here we do some crazy stuff.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Stay in touch with the community.</h2>
            <p>Community is everything, and here we do some crazy stuff.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
        </WizardStep>
        <WizardStep>
            <h2>Stay in touch with the community.</h2>
            <p>Community is everything, and here we do some crazy stuff.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
        </WizardStep>
        <WizardStep OnNext="AsyncCall">
            <h2>Stay in touch with the community.</h2>
            <p>Community is everything, and here we do some crazy stuff.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
        </WizardStep>
    </Steps>
    <Completed>
        <h2>Congratulations!</h2>
        <p>You are now in a world of pain and suffering.</p>
    </Completed>
</Wizard>

@code {

    private string _title = "Get started with Javascript!";
    private string _subTitle = "Start with 3 simple steps.";
    private bool _fixedHeight = true;
    private bool _fixedMaxWidth = true;

    private async Task<bool> AsyncCall()
    {
        await Task.Delay(1000);
        return true;
    }

}
