@* Based on: https://codepen.io/kaueburiti/pen/YNZGZO *@

@page "/"

<PageTitle>Home</PageTitle>

<PreviewForm @bind-Title="_title"
             @bind-SubTitle="_subTitle"
             @bind-FixedHeight="_fixedHeight"
             @bind-FixedMaxWidth="_fixedMaxWidth" />

<Wizard Title="@_title"
        SubTitle="@_subTitle"
        Height="@(_fixedHeight ? "390px" : null)"
        MaxWidth="@(_fixedMaxWidth ? "620px" : null)">
    <Steps>
        <WizardStep>
            <h2>Create a Github account.</h2>
            <p>With GitHub, you can showcase your projects and discover new things every day!</p>
            <LoremIpsum />
        </WizardStep>
        <WizardStep IconClass="fa fa-book">
            <h2>Learn more about pure Javascript.</h2>
            <p>We have cool frameworks, but none is better than VanillaJS.</p>
            <LoremIpsum />
            <LoremIpsum />
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Stay in touch with the community.</h2>
            <p>Community is everything, and here we do some crazy stuff.</p>
            <LoremIpsum />
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Explore Open Source Projects.</h2>
            <p>Contributing to open source projects can significantly enhance your skills and visibility in the community.</p>
            <LoremIpsum />
            <LoremIpsum />
            <LoremIpsum />
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Participate in Coding Challenges.</h2>
            <p>Take part in online coding challenges to sharpen your skills and compete with others.</p>
            <LoremIpsum />
            <LoremIpsum />
        </WizardStep>
        <WizardStep EnablePrevious>
            <h2>Join a Local Meetup Group.</h2>
            <p>Find and join local meetups or online groups that share your tech interests.</p>
            <LoremIpsum />
        </WizardStep>
        <WizardStep>
            <h2>Contribute to Documentation.</h2>
            <p>Improving documentation helps others and enhances your understanding of the project.</p>
            <LoremIpsum />
            <LoremIpsum />
        </WizardStep>
        <WizardStep OnNext="AsyncCall">
            <h2>Build Your Personal Brand.</h2>
            <p>Create a personal blog or portfolio to showcase your projects and share your knowledge.</p>
            <LoremIpsum />
        </WizardStep>
    </Steps>
    <Completed>
        <h2>Congratulations!</h2>
        <p>You are now in a world of pain and suffering.</p>
    </Completed>
</Wizard>

@code {

    private string _title = "Get started with Javascript!";
    private string _subTitle = "Start with 3 simple steps.";
    private bool _fixedHeight = true;
    private bool _fixedMaxWidth = true;

    private async Task<bool> AsyncCall()
    {
        await Task.Delay(1000);
        return true;
    }

}
