@* Based on: https://codepen.io/kaueburiti/pen/YNZGZO *@

@page "/"

<PageTitle>Home</PageTitle>

<div>
    <InputCheckbox id="fixed-height" @bind-Value="_fixedHeight" />
    <label for="fixed-height" style="cursor: pointer;">Fixed height</label>
</div>

<div class="wrapper">
    <div class="box">
        <Wizard Title="Get started with Javascript!"
                SubTitle="Start with 3 simple steps."
                Height="@(_fixedHeight ? "315px" : null)">
            <WizardStep>
                <h2>Create a Github account</h2>
                <p>With github you can show your projects and find new things everyday!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </WizardStep>
            <WizardStep IconClass="fa fa-book" EnablePrevious OnNext="AsyncCall">
                <h2>Learn more about pure Javascript.</h2>
                <p>We have cool frameworks, but none is better then VanillaJS</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
            </WizardStep>
            <WizardStep>
                <h2>Stay in touch with the community.</h2>
                <p>Community is everything, and here we do some crazy stuff.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna culpa qui officia deserunt mollit anim id est laborum.</p>
            </WizardStep>
        </Wizard>
    </div>
</div>

@code {

    private bool _fixedHeight = true;

    private async Task<bool> AsyncCall()
    {
        await Task.Delay(1000);
        return true;
    }

}
